Repository CamilleSimon/BTS2-CIEL-IR-VoieS-rie-2024-2025, pull requests merged in 2024-09, with the labels that each got.

#20 TP Code César partie 1 - Luka
  TP Code César partie1.c
Labels: Code validé, Groupe 2

#25 TP Code César partie 1 - Gael
  TP Code César partie 1.c
Labels: Code validé, Groupe 2

#24 TP Code César partie 1 - Arthur
  TP Code César partie 1.c
Labels: Code validé, Groupe 2

#51 Exercice TP guidé - Mickael
  Avancement TP2-1
  TP guidé.md
Labels: Code validé, Groupe 3

#39 Exercice TP guidé - TP Code César partie 1 - Rafaël
  TP César Partie1.c
  TP guidé.md
Labels: Code validé, Groupe 3

#42 Exercice TP guidé - TP Code César partie 1 - Gaël
  TP Code César partie 1.c
  TP Code César.md
  TP guidé.md
Labels: Code validé, Groupe 3

#45 Exercice TP guidé - TP Code César partie 1 - Manuiva
  TP Code César.md
  TP César Partie1.c
  TP guidé.md
Labels: Code validé, Groupe 3

#36 TP Code César partie 1 - Mouhamad
  César_1.c
  TP Code César.md
  TP guidé.md
  TP machine à café.md
Labels: Code validé, Alternants

#34 TP Code César partie 1 - TP Code César partie 2 - Guillaume
  TP Code César partie 1.c
  TP Code César partie 2.c
Labels: Code validé, Alternants

#31 TP Code César partie 1 - Yazid
  TP Code César partie 1.c
  TP Code César.md
  TP guidé.md
  TP machine à café.md
Labels: Code validé, Alternants

#33 TP Code César partie 1 - Jules
  TP Code César partie 1.c
Labels: En attente de correction, Alternants

#61 Exercice TP guidé - Jauris
  TP guidé.md
Labels: Code validé, Groupe 1

#65 Exercice TP guidé - Matheo
  TP guidé.md
Labels: Code validé, Groupe 1

#68 Exercice TP guidé - Emerique
  TP guidé.md
Labels: Code validé, Groupe 1

#67 Exercice TP guidé - Augustin
  TP guidé.md
Labels: Corrigé - En attente de modification, Groupe 1

#70 TP Code César partie 1 - Wassim
  TP Code César partie 1.c
Labels: Code validé, Groupe 1

#82 Update TP guidé.md
  TP guidé.md
Labels: Code validé, Groupe 2, Exercice TP guidé

#81 Update TP guidé.md
  TP guidé.md
Labels: En attente de correction, Groupe 2, Exercice TP guidé

#91 Update TP guidé.md
  TP guidé.md
Labels: Code validé, Groupe 3, Exercice TP guidé

#90 Update TP guidé.md
  TP guidé.md
Labels: Code validé, Groupe 3, Exercice TP guidé

#89 Update TP guidé.md
  TP guidé.md
Labels: Code validé, Groupe 3, Exercice TP guidé

#41 Exercice TP guidé - TP Code César partie 1 - Leopold
  TP Code César partie 1.c
  TP Code César.md
  TP guidé.md
Labels: Code validé, Groupe 3, Exercice TP guidé, TP Code César partie 1

#53 Exercice TP guidé - TP Code César partie 1 - TP Code César partie 2 - Baptiste
  Code partie 1.md
  Code partie 2.md
  TP Code César.md
  TP guidé.md
Labels: Corrigé - En attente de modification, Groupe 3, Exercice TP guidé, TP Code César partie 1, TP Code César partie 2

#73 Create code tp cesar.c
  code tp cesar.c
Labels: Code validé, Groupe 1, TP Code César partie 1

#27 TP Code César partie 1 - TP Code César partie 2 - Mouhamed
  TP Code César partie 1.c.
  TP Code César partie 2.c.
  TP guidé.md
Labels: Groupe 2, Exercice TP guidé, TP Code César partie 1, TP Code César partie 2

#103 Exercice_TP_guidé
  TP guidé.md
Labels: Code validé, Groupe 1, Exercice TP guidé

#101 Update TP guidé.md
  TP guidé.md
Labels: Corrigé - En attente de modification, Groupe 1, Exercice TP guidé

#104 Update TP guidé.md
  TP guidé.md
Labels: Code validé, Groupe 1, Exercice TP guidé

#102 Exercice TPguidé
  TP guidé.md
Labels: Code validé, Groupe 1, Exercice TP guidé

#23 TP Code César partie 1 - Osman
  TP-cesar-partie 1c
Labels: Code validé, Groupe 2, TP Code César partie 1

#21 TP Code César partie 1 - TP Code César partie 2 - Manoah
  Norme RS-232.md
  TP Code César partie 1.c
  TP Code César partie 2.c
  TP Code César.md
  TP guidé.md
  TP machine à café.md
Labels: Corrigé - En attente de modification, Groupe 2, TP Code César partie 1, TP Code César partie 2

#71 TP Code César partie 1 - Matheo
  TP Code César partie 1.c
Labels: Corrigé - En attente de modification, Groupe 1, TP Code César partie 1

#85 TP Code César partie 1 - Lucas
  tp_partie_1
Labels: Code validé, Groupe 2, TP Code César partie 1

#57 TP Code César partie 1 - TP Code César partie 2 - TP Machine à café - Ylan
  Norme RS-232.md
  TP Code César partie 1.c
  TP Code César partie 2.c
  TP Code César.md
  TP guidé.md
  TP machine à café.c
  TP machine à café.md
Labels: En attente de correction, Alternants, TP Code César partie 1, TP Code César partie 2, TP Machine à café

#44 Exercice TP guidé - TP Code César partie 1 - TP Code César partie 2 - Maxime
  Norme RS-232.md
  TP Code César.md
  TP César Partie 1
  TP guidé.md
  TP machine à café.c
  TP machine à café.md
  Tp César Partie 2
Labels: Corrigé - En attente de modification, Groupe 3, Exercice TP guidé, TP Code César partie 1, TP Code César partie 2

#106 Add files via upload
  TP Code César partie 1.c
  TP Code César partie 2.c
  TP guidé.md
  TP machine à café.md
Labels: Code validé, Groupe 1, TP Code César partie 1, TP Code César partie 2

#78 TP Code César partie 1 - Emerique
  tp César Partie 1
Labels: Code validé, Groupe 1, TP Code César partie 1

#74 TP Code César partie 1 - TP Code César partie 2 - Jauris
  TP Code machine à café.C
  TP code cesar pt2
  TP code césar pt1.C
  TP guidé.md
  TP machine à café.md
Labels: Corrigé - En attente de modification, Groupe 1, TP Code César partie 1, TP Code César partie 2

#52 Exercice TP guidé - Sylvain
  Norme RS-232.md
  TP Code César.md
  TP code César-1c
  TP guidé.md
  TP machine à café.md
  TP_machine_a_café
Labels: Code validé, Groupe 3, Exercice TP guidé, TP Code César partie 1

#123 TP Machine à café - Baptiste
  Norme RS-232.md
  TP Code César.md
  TP guidé.md
  TP machine à café.md
  partie café.md
Labels: Code validé, Groupe 3, TP Machine à café
